.submit {
    margin-right: 40;
    margin-left: 40;
    margin-top:10;
    padding-top: 20;
    padding-bottom:20;
    background-color :'#68a0cf';
    border-radius :10;
    border-width : 1;
    border-color : '#fff'
    

}

